name: iOS 12 Tests

on:
  pull_request:
  push:
    branches: [ master ]

env:
  DEVELOPER_DIR: /Applications/Xcode_10.3.app/Contents/Developer

jobs:
  build:
    runs-on: macos-10.14

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Slather
        run: gem install slather

      - name: iOS 12 Testing
        run: xcodebuild CODE_SIGNING_REQUIRED=NO -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 8,OS=12.4" -scheme "SMAUpdatesAvailable-Tests" test

      - name: Run Slather
        run: slather

      - name: Verify Coverage
        run: curl -s https://codecov.io/bash | bash -s - -v -f test-reports/cobertura.xml -X coveragepy -X gcov -X xcode
